<div class="text-center bg-white">
    <div class="bg-primary min-h-[60px]"></div>
    <div class="relative -top-10 bg-white w-[90%] mx-auto p-6">
        <h3 class="font-bold text-24 mb-3">A+</h3>
        <ul>
            <li class="py-3 px-3 border-t border-grayDivider">100% Funkční a naším technikem prověřený iPhone</li>
            <li class="py-3 px-3 border-t border-grayDivider">Na zařízení nejsou okem vidět žádné známky použití</li>
            <li class="py-3 px-3 border-t border-grayDivider">Na iPhone může být originální folie</li>
            <li class="py-3 px-3 border-t border-grayDivider">100% originální a neměněné díly</li>
            <li class="py-3 px-3 border-t border-grayDivider">iPhone v dokonalém stavu – vhodné pro náročné uživatele</li>
            <li class="py-3 px-3 border-t border-grayDivider">Nové příslušenství: adaptér, kabel, jehla na SIM</li>
            <li class="py-3 px-3 border-t border-grayDivider">24 měsíců záruka</li>
            <li class="py-3 px-3 border-t border-grayDivider">iPhone připraven ihned k používání</li>
        </ul>
    </div>
</div>