<form action="#">
    <div class="flex justify-center my-5 flex-wrap md:flex-nowrap md:my-10">
        <div class="flex flex-col min-w-[240px] mx-3 mb-5 md:mb-0">
            <label for="model" class="font-bold text-left">Vyber model:</label>
            <select id="model" class="p-3 font-bold bg-lightGray border-none focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="fiat">Fiat</option>
              <option value="audi">Audi</option>
            </select>
        </div>
        <div class="flex flex-col min-w-[240px] mx-3 mb-5 md:mb-0">
            <label for="model" class="font-bold text-left">Vyber barevnou variantu:</label>
            <select id="model" class="p-3 font-bold bg-lightGray border-none focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="fiat">Fiat</option>
              <option value="audi">Audi</option>
            </select>
        </div>
        <div class="flex flex-col min-w-[240px] mx-3">
            <label for="model" class="font-bold text-left">Zvol kapacitu:</label>
            <select id="model" class="p-3 font-bold bg-lightGray border-none focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="fiat">Fiat</option>
              <option value="audi">Audi</option>
            </select>
        </div>
    </div>
    <label for="price" class="font-bold text-left">Zvol cenu:</label>
    <input type="range" id="price" min="0" max="5000">
    <button class="font-bold text-gray block mx-auto mt-6 mb-4">Resetovat volby</button>
    <input type="submit" value="Ukázat výsledky (12)" class="rounded-md border-4 border-primary uppercase font-bold px-9 py-4 block mx-auto">
</form>