<div class="grid grid-cols-1 gap-7 p-5 my-5 lg:grid-cols-3 {{ variationsPage ? '-mt-[155px]' : 'bg-lightGray' }}">
    <div class="text-center bg-white">
        <div class="relative bg-white mx-auto">
            <h3 class="font-bold !text-48 text-white !m-0 py-7 bg-primary">A+</h3>
            <ul class="!p-10 !list-none">
                <li class="py-3 px-3 !m-0">100% Funkční a naším technikem prověřený iPhone</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Na zařízení nejsou okem vidět žádné známky použití</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Na iPhone může být originální folie</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">100% originální a neměněné díly</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">iPhone v dokonalém stavu – vhodné pro náročné uživatele</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Nové příslušenství: adaptér, kabel, jehla na SIM</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">24 měsíců záruka</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">iPhone připraven ihned k používání</li>
            </ul>
        </div>
    </div>
    <div class="text-center bg-white">
        <div class="relative bg-white mx-auto">
            <h3 class="font-bold !text-48 text-white !m-0 py-7 bg-primary">A</h3>
            <ul class="!p-10 !list-none">
                <li class="py-3 px-3 !m-0">100% Funkční a naším technikem prověřený iPhone</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Možnost výskytu jedné vlásečnicové oděrky</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Na iPhone může být originální folie</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">100% originální a neměněné díly</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">iPhone v perfektním stavu – vhodné pro náročné uživatele</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Nové příslušenství: adaptér, kabel, jehla na SIM</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">24 měsíců záruka</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">iPhone připraven ihned k používání</li>
            </ul>
        </div>
    </div>
    <div class="text-center bg-white">
        <div class="relative bg-white mx-auto">
            <h3 class="font-bold !text-48 text-white !m-0 py-7 bg-primary">B+</h3>
            <ul class="!p-10 !list-none">
                <li class="py-3 px-3 !m-0">100% Funkční a naším technikem prověřený iPhone</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">iPhone nese známky lehkého používání</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Jedná se pouze o kosmetické vady</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Škrábance na displeji zakryjeme ochranným sklem</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Plně funkční použitý iPhone</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">Nové příslušenství: adaptér, kabel, jehla na SIM</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">24 měsíců záruka</li>
                <li class="py-3 px-3 !m-0 border-t border-grayDivider">iPhone připraven ihned k používání</li>
            </ul>
        </div>
    </div>
</div>